.form {
    max-width: 200px;
    margin: auto;
}

.form {
    margin-bottom: 20px;

}

.form {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-check-input {
    margin-top: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #005fc4;
    color: #fff;
}
label{
    font-size: 20px;
}
input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 300px;
    border-bottom: 1px solid #757575;
    border: 2px none; 
    border-radius: 4px;
    margin-bottom: 20px;

}
input[type="checkbox"] {
    margin-left: 10px;
    margin-top: 2px;
    width: 1.15em;
    height: 1.15em;
}
.title{
    margin-top: 5rem;
    margin-bottom: 50px;
    text-align: center;
}
.boutonchoix{

   text-align: center;

}
.boutonchoix a{
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: white;
}
.choixrole input[type="radio"] {
    display: none;
}

.choixrole label {
    margin: 2px;
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 4px;
    cursor: pointer;
}

.choixrole input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
}
.connexion{
    margin-top: 20px;
}